---
import { information } from "@data";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import Projects from "@components/Projects.astro";
import MetaHead from "@components/MetaHead.astro";
import Skills from "@components/Skills.astro";

// const featureProjects = information.projects.reduce((accumulator, project) => {
//   if (accumulator.length < 6 && project.isFeatured) {
//     accumulator.push(project);
//   }
//   return accumulator;
// }, []);
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <MetaHead
      title={"Portafolio"}
      description={information.about}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <Hero name={information.name} about={information.about} />
      <Experience
        title="Experiencia"
        details={information.experience}
        id="experience"
      />
      <Experience
        title="Educación"
        details={information.education}
        id="education"
      />
      <Skills title="Habilidades" skillSets={information.skills} id="skills" />
      <Projects
        title="Proyectos"
        projects={information.projects}
        id="projects"
      />
    </Layout>
  </body>
</html>
