---
import { information } from "@data";
import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import Projects from "@components/Projects.astro";
import MetaHead from "@components/MetaHead.astro";
import Skills from "@components/Skills.astro";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <MetaHead
      title={"Portafolio"}
      description={information.about}
      ogImageUrl={"/assets/images/profile.png"}
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Outfit:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg-light dark:bg-slate-950 text-slate-950 dark:text-slate-50">
    <Layout>
      <Hero name={information.name} about={information.about} />
      <Experience
        title="Experiencia"
        details={information.experience}
        id="experience"
      />
      <Experience
        title="Educación"
        details={information.education}
        id="education"
      />
      <Skills title="Habilidades" skillSets={information.skills} id="skills" />
      <Projects
        title="Proyectos"
        projects={information.projects}
        id="projects"
      />
    </Layout>
  </body>
</html>
