---
import { information } from "@data";
import { bento, email, github } from "@assets";
import LinkItem from "@components/LinkItem.astro";
const { ...props } = Astro.props;
---

<footer
  class="container mb-8 flex flex-col items-center justify-between sm:mb-4 sm:flex-row"
  {...props}
>
  <p class="my-8 text-right">
    Improved by <strong>Edwin Olivo</strong>
  </p>
  <div class="grid grid-cols-3 gap-4">
    <LinkItem title="Bento" href={information.socialMedia.bento}>
      <Fragment set:html={bento} />
    </LinkItem>
    <LinkItem title="GitHub" href={information.socialMedia.github}>
      <Fragment set:html={github} />
    </LinkItem>
    <LinkItem title="Email" href={information.socialMedia.email}>
      <Fragment set:html={email} />
    </LinkItem>
  </div>
</footer>
