---
import { Project } from "@types";
import { GithubIcon, LinkIcon } from "@assets";
import { Image } from "astro:assets";
const { title, thumbnail, liveUrl, githubUrl } = Astro.props;
---

<article class="group relative max-h-72 w-full overflow-hidden">
  <div class="absolute right-4 top-4 z-10 flex items-center">
    {
      githubUrl && (
        <a
          href={githubUrl}
          class="rounded-full bg-black/50 p-3 text-white backdrop-blur-md"
          aria-label="Social Media"
          target="_blank"
        >
          <Fragment set:html={GithubIcon} />
        </a>
      )
    }

    {
      liveUrl && (
        <a
          href={liveUrl}
          class="ml-1 rounded-full bg-black/50 p-3 text-white backdrop-blur-md"
          aria-label="Social Media"
          target="_blank"
        >
          <Fragment set:html={LinkIcon} />
        </a>
      )
    }
  </div>
  <a href={liveUrl ? liveUrl : githubUrl} target="_blank">
    <Image
      src={thumbnail}
      alt="Miniatura"
      class="h-auto w-full scale-100 transition duration-[1.5s] hover:scale-110"
    />
  </a>
  <div
    class="absolute bottom-0 left-0 w-full translate-y-[100%] bg-black/50 p-4 backdrop-blur-md transition duration-700 group-hover:translate-y-0"
  >
    <h3 class="mr-2 text-xl capitalize text-white">{title}</h3>
  </div>
</article>
