---
import { Projects } from "@types";
import ProjectCard from "@components/ProjectCard.astro";
import Section from "@components/Section.astro";

const { title, projects, ...props } = Astro.props as Projects;
---

<Section title={title} {...props}>
  <div class="my-16 grid grid-cols-1 gap-4 md:grid-cols-2">
    {
      projects.map(({ title, thumbnails, liveUrl, githubUrl }) => (
        <ProjectCard
          title={title}
          thumbnails={thumbnails}
          liveUrl={liveUrl}
          githubUrl={githubUrl}
        />
      ))
    }
  </div>
</Section>
